
body{
    background-color: rgb(197, 48, 48);
    color: rgb(18, 218, 253);
    font-family: Arial, fantasy;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
}
.seccion {
    background-color: antiquewhite;
}
#perfil{
    background-color: rgb(189, 116, 114);
}
        